<p>
  <strong>Name:<strong>
  <%= @volunteer.name %>
</p>

<p>
  <strong>Email:<strong>
  <%= @volunteer.email %>
</p>

<p>
  <strong>Date:<strong>
  <%= @volunteer.date %>
</p>





<%= link_to 'Back', volunteers_path %>
